{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Women's Clothing - Aspect Based Sentiment Analysis</h1>
</div>

<div class="container">
    <h1>Welcome to this question-answering NLP project. </h1>
    <p>With this little project, you can ask a question. The deployed Question-Answering System will then lookup the most fitting answers to your questions from the available reviews of women's clothing and will visualize the answer. For more information, checkout the About page. Have fun!</p>
</div>


{% endblock %}